<!doctype html>
<html>
<head>
    <title>Studentals</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
    body {
        padding-top: 80px;
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Studentals</h1>
            <h2>Find a rental or sublet today!</h2>
            <p>What do you wanna do?</p>
            <a href="/browse" class="btn btn-default"><span class="fa fa-user"></span> Browse</a>
            <a href="/sell" class="btn btn-default"><span class="fa fa-user"></span> Sell</a>
        </div>
    </div>
</body>
<script>
alert("Welcome!");
</script>